*{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    position: absolute;
    left: 140px;
    top: 12px;
    background: none;
    filter: contrast(135%);
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("f.jpg");
    background-size: 1500px ;
}
.container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_area{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(0,0,0,0.75);
    height: 650px;
    width: 400px;
}
.title{
    color:white;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 52px;
}
.form_style{
    outline: none;
    border: 0.5px solid rgb(199, 199, 199);
    background-color: rgb(0,0,0,0.75);
    margin-bottom: 14px;
    width: 280px;
    padding: 18px 10px;
    border-radius: 4px;
    margin-left: 50px;
    font-size: 16px;
}
.btn{
    padding: 12px;
    margin-left: 50px;
    width: 303px;
    font-size: 15px;
    background: rgb(232, 13, 13);
    color: white;
    border-radius: 7px;
    
}
.b{
    padding: 12px;
    margin-left: 50px;
    width: 303px;
    font-size: 15px;
    background: rgb(255,255,255,0.5);
    color: white;
    border-radius: 7px;
}
.ok{
    color: rgb(170, 165, 165);
    text-align: center;
}
.fp{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 23px;
}
.cb{
    color: white;
    margin-left: 4px;
}
.c{
    margin-left: 50px;
    
}
.new{
    color: rgb(191, 183, 183);
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.neww{
    color: white;
    text-decoration: none;
}
.last{
    font-size: 13px;
    color: rgb(191,183,183);
    margin-left: 50px;
    margin-right: 50px;
}
a{
    color: rgb(36, 72, 255);
    text-decoration: none;
}
